/*This is the CSS file for Pacific Heights Trails */
*{
	box-sizing:border-box;
}

header {
	background-color:white;
	color:black;
	height: 72px;
}

footer {
	margin-left: auto;
	background-color: LightBlue;
	font-size: 1.0em;
	font-style: italic;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

.my-nav-color {
	background-color: LightBlue;
}

body {
	background-color: #FFFFFF;
	font-family: 'Public Sans', sans-serif;
	color: #666666;
}


main {
	background-color: white;
	max-width: 1200px;
	/*
	margin:0 auto;
	*/
	margin: 32px;
}

h1 {
	line-height: 200%;
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 32px;
	margin-bottom: 0;
	height: 72px;
}
h2 {
	color: #3399cc;
	font-family: Georgia, serif;
}
h3 {
	color: #000033;
	font-family: Georgia, serif;
	font-size: 1.5em;
}

.icons .fa{
	font-size: 5em;
	
}

.myname {
	font-size: 1.2em;
	color: #000033;
}

.leftfloat {
	float: left;
	margin: 1em;
}

.clear {
	clear: both;
}


label {
	float: left;
	width: 8em;
	padding-right: 1em;
}
input, textarea {
	margin-bottom: 1em;
	display: block;
}

#mobile {
	display: none;
}

#mySubmit {
	display: block;
	margin-left: 10em;
	background-color: lightgrey;
}




